<h3>SIGN UP!</h3>

<%= form_for @user, method: :post, class: "user" do |f| %>

  <fieldset>
    <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
    <p class="text-field-error"><%= error_check_for(:username) %></p>

    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
    <p class="text-field-error"><%= error_check_for(:email) %></p>

    <%= f.label :password %>
    <%= f.text_field :password, class: "form-control" %>
    <p class="text-field-error"><%= error_check_for(:password) %></p>

    <%= f.label :password_confirmation, "Password Confirmation" %>
    <%= f.text_field :password_confirmation, class: "form-control" %>
    <p class="text-field-error"><%= error_check_for(:password_confirmation) %></p>
    </div>
  </fieldset>

  <%= f.submit "Create", class: "btn btn-success" %>

<% end %>
