<div class="row">
	<div class="col-sm-2">
		<h3 class="text-center"> <%= number_to_currency(@total_revenue) %> </h3>
		<h3 class="text-center"><small>TOTAL REVENUE</small></h3>
	</div>

	<!-- status revenue -->
	<div class="col-sm-1">
		<h3 class="text-center"> <%= number_to_currency(@paid_revenue) %> </h3>
		<h3 class="text-center"><small>PAID REVENUE</small></h3>
	</div>

	<div class="col-sm-1">
		<h3 class="text-center"> <%= number_to_currency(@completed_revenue) %> </h3>
		<h3 class="text-center"><small>COMPLETED REVENUE</small></h3>
	</div>

	<!-- number per status -->
	<div class="col-sm-8">
		<div class="col-sm-3">
			<h3 class="text-center"> <%= @pending.count %> </h3>
			<h3 class="text-center"><small>PENDING</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @paid.count %> </h3>
			<h3 class="text-center"><small>PAID</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @completed.count %> </h3>
			<h3 class="text-center"><small>COMPLETED</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @canceled.count %> </h3>
			<h3 class="text-center"><small>CANCELED</small></h3>
		</div>
	</div>
</div>

<!-- orders -->
<div class="">
	<table class="table table-hover">
		<tr>
			<th>
				Order No.
			</th>
			<th>
				Status
			</th>
		</tr>

		<% @orders.each do |order| %>
		<!-- why you no link?? -->
		<%= link_to(order_path(order)) do %>
			<% if order.status == "paid" %>
				<tr class='success'>
			<% elsif order.status == "canceled" %>
				<tr class='danger'>
			<% else %>
				<tr>
			<% end %>
					<td>
						<%= order.id %>
					</td>
					<td>
						<%= order.status %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
<%= button_tag "Orders to Fulfill", class: 'btn btn-primary' %>
