<% flash.each do |name, msg| %>
	<%= content_tag :div, msg, class: "name alert alert-success alert-dismissable", role: 'alert' %>
<% end %>

<div class="row">
	<div class="col-sm-2">
		<h3 class="text-center"> <%= number_to_currency(@total_revenue) %> </h3>
		<h3 class="text-center"><small>TOTAL REVENUE</small></h3>
	</div>

	<!-- status revenue -->
	<div class="col-sm-1">
		<h3 class="text-center"> <%= number_to_currency(@paid_revenue) %> </h3>
		<h3 class="text-center"><small>PAID REVENUE</small></h3>
	</div>

	<div class="col-sm-1">
		<h3 class="text-center"> <%= number_to_currency(@completed_revenue) %> </h3>
		<h3 class="text-center"><small>COMPLETED REVENUE</small></h3>
	</div>

	<!-- number per status -->
	<div class="col-sm-8">
		<div class="col-sm-3">
			<h3 class="text-center"> <%= @pending.count %> </h3>
			<h3 class="text-center"><small>PENDING</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @paid.count %> </h3>
			<h3 class="text-center"><small>PAID</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @completed.count %> </h3>
			<h3 class="text-center"><small>COMPLETED</small></h3>
		</div>

		<div class="col-sm-3">
			<h3 class="text-center"> <%= @canceled.count %> </h3>
			<h3 class="text-center"><small>CANCELED</small></h3>
		</div>
	</div>
</div>

<% unless @orders.empty? %>
	<!-- orders -->
	<div class="">
		<table class="table table-hover">
			<tr>
				<th>
					Order No.
				</th>
				<th>
					Status
				</th>
			</tr>

			<% @orders.each do |order| %>
			<!-- why you no link?? -->
			<% if order.status == "paid" %>
				<tr class='success'>
			<% elsif order.status == "canceled" %>
				<tr class='danger'>
			<% else %>
				<tr>
			<% end %>
					<td>
						<%= link_to order.id, order_confirmation_path(order) %>
					</td>
					<td>
						<%= link_to order.status, order_confirmation_path(order) %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
	<%= button_tag "Orders to Fulfill", class: 'btn btn-primary' %>
<% end %>
