<!-- make it so it display over the top of the screen -->
<div>
  <%= flash.now[:error] if flash.now[:error] %>
</div>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">CosMade</a>
		</div>


		<div class="collapse navbar-collapse navbar-right float-right">
      <% if @user == nil %>
        <%= link_to "Register", new_user_path, class: 'btn btn-primary col-sm-2' %>
				<%= form_for(:session, url: login_path, class: "navbar-form  form-inline")  do |f| %>
					<div class="form-group col-sm-4">
						<%= f.label :username %>
						<%= f.text_field :username %>
					</div>

					<div class="form-group col-sm-4">
							<%= f.label :password %>
							<%= f.password_field :password %>
					</div>

					<%= f.submit "Log In", class: "btn btn-primary col-sm-2 login" %>
				<% end %>

			<% else %>
				Hello, <%= @username %>!
				<%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-danger' %>
			<% end %>

      <!-- why does this trigger orders#find_order? -->
      <!-- and why does it set id to 'empty' when it's explicitly -->
      <!-- set to sessions[:order_id]?? -->
      <%= link_to(@cart_quantity.nil? ? order_empty_path : order_path(@order), options = { id: session[:order_id] }, html_options = { method: :get, class: "btn btn-default" }) do %>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <span class="badge"> <%= @cart_quantity.nil? ? 0 : @cart_quantity %> </span>
      <% end %>
		</div>
	</div>
</nav>
