<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">CosMade</a>
		</div>

		<div class="collapse navbar-collapse navbar-right float-right">
      <% if @user.nil? %>
				<%= render partial: "shared/login" %>
        <%= link_to "Register", new_user_path, class: 'btn btn-primary col-sm-2' %>
			<% else %>
				<% if @user[:id].nil? %>
					<%= render partial: "shared/login" %>
				<% else %>
					Hello, <%= link_to @username, user_path(session[:user_id]) %>!
					<%= link_to "Log Out", logout_path, method: :delete, class: 'btn btn-default' %>
				<% end %>
			<% end %>

      <%= link_to(@order.nil? ? orders_path : order_path(@order), options = { id: session[:order_id] }, html_options = { class: "btn btn-default" }) do %>
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        <span class="badge"> <%= @cart_quantity ||= 0 %> </span>
      <% end %>
		</div>
	</div>
</nav>
