<div class="form">
  <%= form_for [ @user, @product ]  do |f| %>
    <div class="form-group col-sm-offset-2">
      <%= f.label :name %>
      <%= f.text_field :name, required: :true %>
    </div>

    <div class="form-group col-sm-offset-2">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>

    <div class="form-group col-sm-offset-2">
      <!-- maybe use regular 'ole HTML? -->
      <%= f.label :price %>
      <span class="form-group-addon">$</span><%= f.text_field :price, required: :true %>
    </div>

    <div class="form-group col-sm-offset-2">
      <%= f.label :photo_url %>
      <%= f.text_field :photo_url, required: :true %>
    </div>

    <div class="form-group col-sm-offset-2">
      <%= f.label :inventory %>
      <%= f.number_field :inventory, required: :true %>
    </div>

    <div class="form-group col-sm-offset-2">
      <%= f.label :active %>
      <%= f.radio_button :active, true %>
      <%= f.label "Inactive" %>
      <%= f.radio_button :active, false %>
    </div>

    <div class="form-group col-sm-offset-2">
      <%= f.label :categories %>
      <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    </div>


    <div class="form-group col-sm-offset-1">
      <%= f.submit "Submit", id: session[:user_id], class: "btn btn-primary col-sm-2" %>
    </div>
  <% end %>
</div>
