<!-- this information is updating an existing Order -->
<!-- so the method should be put, right? Not the default 'post'… -->
<%= form_for(@order, method: :put) do |f| %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:email) %></p>

    <%= f.label :address1 %>
    <%= f.text_field :address1, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:address1) %></p>

    <%= f.label :address2 %>
    <%= f.text_field :address2, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:address2) %></p>

    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:city) %></p>

    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:state) %></p>

    <%= f.label :zipcode %>
    <%= f.text_field :zipcode, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:zipcode) %></p>

    <!-- WIP -->
    <!-- :name_on_card -->

    <%= f.label :card_number %>
    <%= f.text_field :card_number, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:card_number) %></p>

    <%= f.label :ccv, class: 'text-uppercase' %>
    <%= f.text_field :ccv, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:ccv) %></p>

    <%= f.label :card_exp %>
    <%= f.text_field :card_exp, class: "form-control" %>
    <p class="text-field-error"><%= order_error_check_for(:card_exp) %></p>
  </div>

  <%= f.submit "Submit Order", class: 'btn btn-primary' %>

  <% end %>
