<table class="table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Total</th>
  </tr>

  <% @order_items.each do |item| %>
    <% product = item.product %>

    <% if item.quantity > 0 %>
      <tr>
        <td> <%= product.name %> </td>
        <td> <%= number_to_currency(product.price) %> </td>
        <td>
          <%= button_to '-', options = { controller: 'order_items', action: "qty_decrease", id: item.id }, html_options = { class: "btn btn-default", form_class: "form-inline" } %>
          <%= item.quantity %>
          <%= button_to "+", options = { controller: 'order_items', action: "qty_increase", id: item.id }, html_options = { class: "btn btn-default", form_class: "form-inline" } %>
        </td>

        <td> <%= number_to_currency(product.price * item.quantity) %> </td>
        <td> <%= button_to("Remove from Cart", order_order_item_path(order_id: @order.id, id: item.id), method: :delete, class: "btn btn-default") %> </td>
      </tr>
    <% else %>
      <% item.destroy %>
    <% end %>
  <% end %>
</table>

<%= button_to("Checkout", "/orders/#{@order.id}/payment", method: :get, id: @order, class: "btn btn-primary") %> </td>
