<%= render partial: 'shared/header'%>

<div class="row">
  <% @products.each do |item| %>
    <div class="col-sm-4">
      <%= image_tag(item.photo_url, alt: "Image of #{item.name}", height: 200 ) %>
      <h3><%= item.name %> <small><%= number_to_currency(item.price) %></small></h3>
      <p><%= item.description %></p>
      <p>Merchant: <%= item.user.username %></p>
      <p>
        Categories: <% item.categories.each do |cat| %>
          <%= cat.name %>
        <% end %>
      </p>
    </div>
  <% end %>
</div>
