<%= render partial: 'shared/header'%>

<div class="container-fluid row">

  <h4 class="col-sm-2 col-sm-offset-1">View By: </h4>

  <div class="dropdown">
    <%= form_for(:product, url: by_vendor_products_path, method: :get, class: "form-inline")  do |f| %>
      <div class="form-group col-sm-4">
        <%= f.label "Merchant: " %>
        <%= f.collection_select(:user_id, User.all, :id, :username, prompt: "View All") %>
        <%= f.submit "Go", class: "btn btn-primary" %>
      <% end %>
      </div>
  </div>

  <div class="dropdown">
    <%= form_for(:product, url: by_category_products_path, method: :get, class: "form-inline")  do |f| %>
      <div class="form-group col-sm-4">
          <%= f.label "Category: " %>
          <%= f.collection_select(:category_id, Category.all, :id, :name, prompt: "View All") %>
          <%= f.submit "Go", class: "btn btn-primary" %>
        <% end %>
      </div>
  </div>
</div>

<%= render partial: 'shared/products_list'%>
