<div class="col-sm-8 col-sm-offset-2">
  <h1><%= @product.name %> <small><%= number_to_currency(@product.price) %></small></h1>

  <%= image_tag(@product.photo_url, alt: "Image of #{@product.name}", height: 200) %>
  <%= @product.description %>

  <p>Merchant: <%= @product.user.username %></p>
  <p>
    Categories: <% @product.categories.each do |cat| %>
    <%= cat.name %>
    <% end %>
  </p>

  <%= link_to "Add to Cart", url_options = { controller: "order_items", action: "create", id: @product.id}, html_options = { method: :post, class: "btn btn-default" } %>

  <h3>REVIEWS<h3>
  <h3>
    <% @product_average.times do %>
      <span class='glyphicon glyphicon-star'></span>
    <% end %>
    <% (5 - @product_average).times do %>
      <span class='glyphicon glyphicon-star-empty'></span>
    <% end %>
  </h3>
  <% @product.reviews.each do |review| %>
    <h4>Rating:
      <% (review.rating).times do %>
        <span class='glyphicon glyphicon-star'></span>
      <% end %>
      <% (5 - review.rating).times do %>
        <span class='glyphicon glyphicon-star-empty'></span>
      <% end %>
    </h4>

    <p>
      <%= review.description %>
    </p>
  <% end %>
  <%= link_to "Write Review", new_product_review_path(@product), { method: :get, class: "btn btn-default" } %>

</div>
