<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>CosMade</title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">CosMade</a>
        </div>


        <div class="collapse navbar-collapse navbar-right">

            <!-- not sure if User.new is right, just needed the form to show -->
            <%= form_for @login = User.new, class: "navbar-form  form-inline"  do |f| %>
              <%= f.submit "Log In", class: "btn btn-primary col-sm-2 float-right login" %>

              <div class="form-group col-sm-4 float-right">
                  <%= f.label :password %>
                  <%= f.text_field :password %>
              </div>

              <div class="form-group col-sm-4 float-right">
                <%= f.label :username %>
                <%= f.text_field :username %>
              </div>
            <% end %>

            <!-- change to log out button when signed-in -->
        </div>
      </div>
    </nav>

    <div class="container-fluid col-sm-11 center">
      <%= yield %>
    </div>

  </body>
</html>
